

.react-aria-TextField {
  /* display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--text-color);

  .react-aria-Input,
  .react-aria-TextArea {
    padding: 0.286rem;
    margin: 0;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background: var(--field-background);
    font-size: 1.143rem;
    color: var(--field-text-color);

    &[data-focused] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  } */
}

.postListWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 440px));
  grid-auto-rows: 1fr;
  width: var(--max-width);
  margin: 0 auto;
  gap: 30px;
}