:root {
  --max-width: 900px;
  --border-radius: 10px;
  --font-mono: "Nunito", sans-serif;

  /* Colors */
  --light-gray100: #E7EDF4;

  --dark-gray900: #071422;
  --dark-gray800: #0B1B2B;

  --accent-blue: #3294F8;
  --light-blue100: #AFC2D4;


}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--light-gray100);
  background: var(--dark-gray900);
}

a {
  color: inherit;
  text-decoration: none;
}

